body {
	background-color: #aaa;
}
section {

	border:1px solid orange;
	background-color: #000;
	width: 600px;
	height: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
}

img{
	display: inline-block;
	width: 200px;
	height: 130px;
	float: left;
	clear: left;
	margin-right: 10px;
	}

p {
	color: #fff;
	margin-top: 0px;
}

a{
	color: orange;
	text-decoration: none;
}

input{
	display: inline-block;
	width: 60px;
	height: 30px;
}


.button {
	display: inline-block;
	position: relative;
	left:250px;
	top: 50px;
}

.add_button {

width: 60px;
height: 25px;
background-image: url("../pictures/add_button.png");
border: none;
}

.listen_button {
	width: 73px;
    height: 25px;
	background-image: url("../pictures/listen_button.png");
	border:none;
}


article {
	width: 90%;
	height: 90%;
	padding: 10px;
}